
label {
    color: #007DBA;
  }
  
  .pad-top25 {
    padding-top: 25px;
  }
  .pad-top10 {
      padding-top: 10px;
  }
  .pad5 {
      padding: 5px
  }
  .height40 {
      height: 40px;
  }

  .displayinline {
    display:inline;
  }

  .borderbottom {
      border-bottom: 1px solid black;
  }

  .pad-top0{
      padding-top: 0;
  }
  .pad-bot15{   
      padding-bottom: 15px;
  }
  .floatright {
      float: right;
  }