<div class="floatright">
{{details[0].name}}
<br>
{{details[0].email}}

</div>
<app-referal-header></app-referal-header><br>
<div class="pad-top25">
  <label for="Id">My Created Jobs</label>
</div><br>
<div *ngFor="let detail of details; let i = index" class="borderbottom">
  <div class="ui-g-12 pad-top25 pad-bot15 borderbottom">
    <label for="Id">{{detail.header}}</label>
    <br>
    <div class="ui-g-12 pad-bot15" [ngClass]="{'borderbottom':detail.showQr}">
      <div class="ui-g-9 pad-top10">
        <div class="ui-g-6">
          <i class="fa fa-map-marker"></i>
          <div class="pad5 displayinline" for="Id">{{detail.location}}</div>
          <br>
          <i class="fa fa-star"></i>
          <div class="pad5 displayinline" for="Id">{{detail.star}}</div>
        </div>
        <div class="ui-g-6">
          <i class="fa fa-truck"></i>
          <div class="pad5 displayinline" for="Id">{{detail.truck}}</div>
          <br>
          <i class="fa fa-arrow-right"></i>
          <div class="pad5 displayinline" for="Id">{{detail.cost}}</div>
          <br>
          <i class="pi pi-star"></i>
          <div class="pad5 displayinline" for="Id">{{detail.exprience}}</div>
        </div>
      </div>
      <div class="ui-g-3 pad-top0">
        <p-button class="ui-g-12 p-Style " (click)="submitDetails()" label="Tell Me More">
        </p-button>
        <p-button class="ui-g-12 p-Style pad-top10" (click)="linkQrButton(i)" label="Link QR">
        </p-button>
      </div>
    </div>
    <div *ngIf=detail.showQr class="ui-g-12 pad-top10">
      <label>Select QR Codes to Link Job Listing</label>
      <div class="displayinline">
        <div class="ui-g-12" *ngFor="let qrCode of qrCodesData; let i = index">
          <p-checkbox [name]="qrCode.data" [value]="qrCode.id" [label]="qrCode.data" [(ngModel)]="detail.qrcode"
            [inputId]="qrCode.data"></p-checkbox>
        </div>
        <p-button class="ui-g-12 p-Style pad-top10" (click)="savebutton(i)" label="Save">
        </p-button>
      </div>
    </div>
    <!-- <label for="Id">{{detail.location}}</label><br> -->
  </div>
</div>